@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css?family=Cairo');

body, html {
  height: 100%;
  margin: 0;
  background-color: #fff;
  font-family: 'Audiowide', cursive;
}


/* Navigation / Icon Bar*/

.icon-bar {
  width: 100%;
  background-color: rgb(133, 121, 238);
  overflow: auto;
}

.icon-bar a {
  float: left;
  width: 20%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: rgb(89, 87, 228);
  font-size: 50px;
}

.icon-bar a:hover {
  background-color: rgb(18, 92, 34);
}

.active {
  background-color: rgb(39, 52, 172); !important;
}

h1{
  margin-top: 15%;
    margin-left: 10px;
    padding-left: 5%;
    margin-bottom: 10%;
    padding-top: 20px;
    font-size: 3.5em;
    text-align: left;
    font-family: 'Audiowide', cursive;
  }

h2{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  margin-bottom: 2%;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 2em;
  font-family: 'Audiowide', cursive;
}


@media screen and (min-width: 1900px) {
  div.container {
    max-width: 960px;
    margin: 0 auto; /* to center the container */
  }

}
.pup {
  
  width: 100%;
  height: 20%;
  margin-bottom: 10%;
}

.TextWrap{
  float: right;
  margin: 10px;
  width: 150px;
  height: 150px
}
p{
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    font-size: 20px;
    padding: 20px;
    font-family: 'Cairo', sans-serif;
    color: #262525;
    letter-spacing: 1px;
    line-height: 2;
}
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.iframe{
  width: 560px;
  height: 349;
}
@media screen and (min-width: 1900px) {
  div.container {
    max-width: 960px;
    margin: 0 auto; /* to center the container */
  }
}

img {
  
  width: 100%;
  height: 20%;
  
}
.site__footer {
  color: #f8f6f6;
  background: #0d0d0d; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: 'Audiowide', cursive;
  padding: 20px;
  
}
blockquote{
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 30px;
}


i{
  color: white;
  font-family: 'Garamond', cursive;
  padding-top: 20px;
  padding-bottom: 20px;

}
em{
  font-family: 'Garamond', cursive;

}
.heart {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.png");
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  height: 10px;
  width: 10px;

}

/*News paper effect*/
.newspaper {
  -webkit-column-count: 4; /* Chrome, Safari, Opera */
  -moz-column-count: 4; /* Firefox */
  column-count: 4;
  -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
  -moz-column-gap: 40px; /* Firefox */
  column-gap: 40px;
  -webkit-column-rule: 1px solid lightblue; /* Chrome, Safari, Opera */
  -moz-column-rule: 1px solid lightblue; /* Firefox */
  column-rule: 1px solid lightblue;
}

div {

  column-rule: 1px solid lightblue;
}
.firstcharacter {
  color: #903;
  float: left;
  font-family: Georgia;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}